<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @message.contents %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<% if @message.image.attached? %>
  <%= image_tag @message.image %>
<% end %>

<hr>

<%= form_with(model: @message, url: { action: "attach_image" }, local: true, method: :post) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
