<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @message.contents %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<% if @message.image.attached? %>
  <%= image_tag @message.image %>
<% end %>

<hr>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
